.App {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    background: #1a1a1a;
    justify-content: space-between;

    & > .AppGame, & > .AppMiddle {
        flex: 0 0 auto;
    }
}

& > .AppTutorial {
    flex: 1 1 auto;
}

/* Portrait layout */
.App {
    flex-direction: column;

    & > .AppGame {
        width: min(100vw,45.4545vh);
        height: min(100vw,45.4545vh);
    }

    & > .AppMiddle {
        height: min(20vw,9.091vh);
        width: min(20vw,9.091vh);
        display: flex;
    }
}

/* Landscape layout */
@media screen and (orientation: landscape) {
    .App {
        flex-direction: row;
    }

    .App > .AppGame {
        width: min(100vh,45.4545vw);
        height: min(100vh,45.4545vw);
    }

    .App > .AppMiddle {
        height: min(20vh,9.091vw);
        width: min(20vh,9.091vw);
        display: flex;
    }
}
